* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --green: #0d883c;
    --red: #c22323;
}

.redBackground {
    background-color: var(--red);
}

.greenBackground {
    background-color: var(--green);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #e5e5e5;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 10px;
}

header img {
    height: 50px;
}


.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 20px auto;
}

label,
input,
button,
select {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input[type="date"],
select,
button {
    border: 2px solid var(--green);
    padding: 8px;
    border-radius: 6px;
}


button {
    margin: 20px 0px ;
    padding: 14px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: var(--green);
    letter-spacing: 1.4px;
    font-weight: 900;
    transition: all 0.3s ease;
    box-shadow: #0e5228 0px 8px 0px 0px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    box-shadow: #0e5228 0px 4px 0px 0px;
}

button:active {
    background-color: var(--green);
    box-shadow: #0e5228 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}





.dateInputContainer {
    display: flex;
    justify-content: space-between;
}

#resultado {
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    min-height: 200px;
    /* color: #333; */
    /* display: flex; */
    /* gap: 10px; */
}


#status {
    text-align: center;
    padding: 30px;
    border-radius: 4px;
    color: #fff;

}

#status h3 {
    text-transform: uppercase;
    font-size: 20pt;
    margin-bottom: 20px;
}


.percentage-bar-container {
    width: 100%;
    background: #e5e5e5;
    height: 20px;
    margin: 20px 0px;
    border-radius: 4px;
}

#percentage-bar-fill {
    flex: 1;
    height: 20px;
    border-radius: 4px;
    min-width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#percentage-bar-fill p {
    color: #fff;
    padding-right: 8px;
}

.observacoes {
    margin-top: 300px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    margin-top: 100px;
    text-align: center;
}



@media (max-width:768px) {

    .container {
        width: 100%;
        margin: 0px;
    }

    h1 {
        font-size: 1.4rem;
    }
    header img {
        height: 25px;
    }

    .dateInputContainer {
        display: block;
    }
}